transformers
PyPDF2
pytest
numpy
pandas
google-generativeai
elasticsearch
nltk
scikit-learn
matplotlib
marshmallow
seaborn
python-dotenv
sentence-transformers
google-cloud-storage
flask
psycopg2-binary